@using CodeBase.Core.DTOs

@{
    ViewData["Title"] = "Save";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProductDTO

<div class="col-md-5">

    <form asp-action="Save" method="post" asp-controller="Product">

        <label>Ürün Adı</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>

         <label>Fiyat</label>
        <input asp-for="Price" class="form-control" required />
        <span asp-validation-for="Price" class="text-danger"></span>

         <label>Stok</label>
        <input asp-for="Stock" class="form-control" required />
        <span asp-validation-for="Stock" class="text-danger"></span>

     

        <br />
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </form>
</div>


